@page "/videos"

<PageTitle>Videos</PageTitle>

<h1>Videos</h1>

<button class="button primary" @onclick="LoginWithRaindrop">Login with Raindrop.io</button>

@code {
    private static readonly string? RainDropClientId = "684ea82bb3333b01de5487c1";

	private void LoginWithRaindrop()
    {
        var redirectPath = "/redirect";
        var baseUri = Navigation.BaseUri.TrimEnd('/');
        var redirectUri = $"{baseUri}{redirectPath}";
        var authUrl = $"https://raindrop.io/oauth/authorize?client_id=684ea82bb3333b01de5487c1&redirect_uri={Uri.EscapeDataString(redirectUri)}&response_type=code";

        JS.InvokeVoidAsync("open", authUrl, "_self");
    }

    [Inject]
    private IJSRuntime JS { get; set; } = default!;
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
}
