@page "/videos"
@inject HttpClient Http

<PageTitle>Videos</PageTitle>

<h1>Videos</h1>

<button class="button primary" @onclick="LoginWithRaindrop">Login with Raindrop.io</button>
<button class="button primary" @onclick="FetchVideos">Fetch Videos</button>

@if (!string.IsNullOrEmpty(_videoData))
{
    <div>
        <h2>Video Data:</h2>
        <pre>@_videoData</pre>
    </div>
}
else if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="callout alert">
        <p>@_errorMessage</p>
    </div>
}