@page "/counter"

@using redmuffin.Blazor.Static.Helpers

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="button" @onclick="IncrementCount">Click me</button>
<button class="button alert" @onclick="ThrowException">Throw-Error</button>

@code {
	private int _currentCount;

	private void IncrementCount()
	{
		_currentCount++;
	}

	private void ThrowException()
	{
		throw new InvalidOperationException();
	}

	private void ReverseStringExample()
	{
		string original = "Blazor";
		string reversed = original.ReverseString() ?? string.Empty; // Fix for CS8600: Ensure reversed is not null
	}
}