@page "/"

<PageTitle>Home</PageTitle>

<!-- Header -->
<section class="hero is-link is-fullheight is-fullheight-with-navbar">
	<div class="hero-body">
		<div class="container">Hello,
			<h1 class="title is-1">
				world!
			</h1>
			<h2 class="subtitle is-3">
				Welcome to your new app.
			</h2>
		</div>
	</div>
</section>


