@page "/icons"

<h4>FontAwesome Icons</h4>

<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-6">
    @foreach (var icon in IconNames)
    {
        <div class="cell text-center" style="margin-bottom: 1.5rem;">
            <i class="fa fa-@icon" style="font-size:2rem;" aria-hidden="true"></i>
            <div style="margin-top:0.5rem;font-size:0.9rem;word-break:break-all;">@icon</div>
        </div>
    }
</div>