<nav role="navigation" aria-label="Main navigation">
    <ul class="breadcrumbs" role="menubar">
        <li role="menuitem"><NavLink href="" Match="NavLinkMatch.All" aria-current="page"><i class="fa fa-home" aria-hidden="true"></i> Home</NavLink></li>
        <li role="menuitem"><NavLink href="counter"><i class="fa fa-calculator" aria-hidden="true"></i> Counter</NavLink></li>
        <li role="menuitem"><NavLink href="weather"><i class="fa fa-cloud" aria-hidden="true"></i> Weather</NavLink></li>
        <li role="menuitem"><NavLink href="markdownexamples"><i class="fa fa-file-text" aria-hidden="true"></i> Markdown</NavLink></li>
        <li role="menuitem"><NavLink href="foundationexamples"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Foundation</NavLink></li>
        <li role="menuitem"><NavLink href="icons"><i class="fa fa-icons" aria-hidden="true"></i> Icons</NavLink></li>
    </ul>
</nav>
 