<NavLink href="" Match="NavLinkMatch.All">
	<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
</NavLink>
<NavLink href="counter">
	<span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
</NavLink>
<NavLink href="weather">
	<span class="bi bi-list-nested" aria-hidden="true"></span> Weather
</NavLink>
<NavLink href="markdownexamples">
	<span class="bi" aria-hidden="true"></span> Markdown Examples
</NavLink>
<NavLink href="foundationexamples">
	<span class="bi" aria-hidden="true"></span> Foundation Examples
</NavLink>