<nav>
    <ul class="breadcrumbs">
        <li><NavLink href="" Match="NavLinkMatch.All"><i class="fa fa-home"></i> Home</NavLink></li>
        <li><NavLink href="counter"><i class="fa fa-calculator"></i> Counter</NavLink></li>
        <li><NavLink href="weather"><i class="fa fa-cloud"></i> Weather</NavLink></li>
        <li><NavLink href="markdownexamples"><i class="fa fa-file-text-o"></i> Markdown Examples</NavLink></li>
        <li><NavLink href="foundationexamples"><i class="fa fa-cubes"></i> Foundation Examples</NavLink></li>
    </ul>
</nav>
