<nav>
    <ul class="breadcrumbs">
        <li><NavLink href="" Match="NavLinkMatch.All"><i class="fi-list"></i>Home</NavLink></li>
        <li><i class="fi-list-thumbnails"></i><NavLink href="counter">Counter</NavLink></li>
        <li><NavLink href="weather">Weather</NavLink></li>
        <li><NavLink href="markdownexamples">Markdown Examples</NavLink></li>
        <li><NavLink href="foundationexamples">Foundation Examples</NavLink></li>
    </ul>
</nav>
